doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='icon', type='image/svg+xml', href='https://i.imgur.com/1jy394c.png')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Thompson Ngo
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')
    // Google tag (gtag.js)
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-N49VJMRW85')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-N49VJMRW85');
  body
    canvas#bg
    main
      header
        h2 Thompson Ngo
        p
          | Lead Product Engineer @&nbsp;
          a(href='https://remembranceplace.com', target='_blank') Remembrance
        .social-links
          a.social-icon(href='mailto:tmngo2001@gmail.com', aria-label='Email')
            i.fas.fa-envelope
          a.social-icon(href='https://www.linkedin.com/in/tngo2001/', target='_blank', aria-label='LinkedIn')
            i.fab.fa-linkedin
          a.social-icon(href='https://github.com/tngo2001', target='_blank', aria-label='GitHub')
            i.fab.fa-github
        br
        p
          a.resume-link(href='https://drive.google.com/file/d/1Ty6IZERcp-YxlJ35c2keBTRleGZcmLwq/preview', target='_blank', aria-label='Resume')
            i.fas.fa-external-link-alt
            |  View My Resume
        p
          a.resume-link(href='https://drive.google.com/uc?export=download&id=1Ty6IZERcp-YxlJ35c2keBTRleGZcmLwq', download='', aria-label='Resume')
            i.fas.fa-download
            |  Download My Resume
      section
        h2
          i.fas.fa-user
          |  About
        p
          | Hello! My name is Thompson Ngo and I am a graduate from the University of Washington, where I earned a Bachelor of Science in Computer Science in Spring 2023.
          | With a strong foundation in software development and a passion for innovative technology, I am excited to apply my skills and knowledge to new challenges.
          | Feel free to connect with me to discuss potential opportunities or share insights about the tech world!
        a(href='https://www.washington.edu', target='_blank')
          img.section-img(src='https://i.imgur.com/dghhfFi.jpg')
      section#experience.slideshow-container
        h2
          i.fas.fa-briefcase
          |  Experience
        .slides
          .fade
            h3
              | Lead Product Engineer @&nbsp;
              a(href='https://remembranceplace.com', target='_blank') Remembrance
            h4 July 2024 - Present
            p
              | I lead the development of AR and VR memorials, using React.js and AWS to craft immersive experiences.
              | My work focuses on creating meaningful ways for people to remember their loved ones, whether at a cemetery, with an urn, or from home.
              | By integrating cutting-edge technology, I help ensure that the memories of those who have passed are cherished and accessible.
            a(href='https://remembranceplace.com', target='_blank')
              img.section-img(src='https://i.imgur.com/8cdHPvE.jpg')
          .fade
            h3
              | Lead Coding Instructor @&nbsp;
              a(href='https://www.codeninjas.com', target='_blank') Code Ninjas
            h4 July 2022 - July 2024
            p
              | I guided students through the exciting world of game development, teaching concepts in Scratch, JavaScript, Lua, C#, Python, and C++.
              | My role involved making coding accessible and enjoyable for many students, helping them build skills in a fun and interactive environment.
              | By instructing learners of all ages, I&apos;m dedicated to fostering a passion for technology and problem-solving.
            a(href='https://www.codeninjas.com', target='_blank')
              img.section-img(src='https://i.imgur.com/lO9Y42z.jpg')
          .fade
            h3
              | Undergraduate Teaching Assistant @&nbsp;
              a(href='https://www.cs.washington.edu', target='_blank') Paul G. Allen School of Computer Science &amp; Engineering
            h4 September 2022 - June 2023
            p
              | I supported courses such as Direct Admit Seminar, Games Capstone, and Web Browser Engineering.
              | Assisting students with assignments in C#, GDScript, and Python, I helped them navigate through complex concepts.
              | Contributing to the mission of educating future innovators and developing solutions to humanity&apos;s greatest challenges has been a rewarding experience.
            a(href='https://www.cs.washington.edu', target='_blank')
              img.section-img(src='https://i.imgur.com/wePrQIN.jpg')
          .fade
            h3
              | Software Developer Intern @&nbsp;
              a(href='https://www.linkedin.com/company/gobuddytravel', target='_blank') goBuddy
            h4 January 2023 - May 2023
            p
              | I collaborated with an AGILE team to develop a mobile app designed for effortless trip and activity planning.
              | Utilizing technologies such as MongoDB, Express.js, React Native, TypeScript, Node.js, and Go, I contributed to features that allow users to post, browse, and sort trip ideas based on type, duration, dates, and location.
              | My work helped enhance the application&apos;s functionality, making it easier for people to coordinate and enjoy their plans without the clutter of endless text chats.
            a(href='https://www.linkedin.com/company/gobuddytravel', target='_blank')
              img.section-img(src='https://i.imgur.com/1WCMPP0.jpg')
          .fade
            h3
              | Software Engineer Intern @&nbsp;
              a(href='https://www.codeday.org', target='_blank') CodeDay
            h4 June 2022 - August 2022
            p
              | I worked under the guidance of Pete Bekos from AeroPay on a Kotlin-based Android application that displays Chuck Norris jokes.
              | This project involved designing and implementing features to enhance user experience and functionality, providing me with valuable experience in Android development and Kotlin programming.
              | Collaborating remotely with a professional mentor gave me insight into industry best practices and effective teamwork.
            a(href='https://www.codeday.org', target='_blank')
              img.section-img(src='https://i.imgur.com/QxLlSfD.jpg')
          .fade
            h3
              | Undergraduate Research Assistant @&nbsp;
              a(href='https://www.uwseal.org', target='_blank') Sensors, Energy, and Automation Laboratory (SEAL)
            h4 September 2021 - June 2022
            p
              | I created a Flutter mobile application using Dart to calculate the peristomal area for constructing wafers.
              | My team aimed to improve stoma care by enhancing the accuracy of wafer fitting, utilizing 3D scanning and edge identification algorithms to determine the optimal wafer cut perimeter, thus minimizing trial-and-error and reducing patient discomfort.
              | This work contributes to the development of innovative solutions in medical technology, and I am proud to play a part in this mission.
            a(href='https://www.uwseal.org', target='_blank')
              img.section-img(src='https://i.imgur.com/q1ZcNPQ.jpg')
          a.prev(onclick="moveSlide(-1, 'experience')") &#x276E;
          a.next(onclick="moveSlide(1, 'experience')") &#x276F;
        .dots
          span.dot(onclick="currentSlide(1, 'experience')")
          span.dot(onclick="currentSlide(2, 'experience')")
          span.dot(onclick="currentSlide(3, 'experience')")
          span.dot(onclick="currentSlide(4, 'experience')")
          span.dot(onclick="currentSlide(5, 'experience')")
          span.dot(onclick="currentSlide(6, 'experience')")
      section#projects.slideshow-container
        h2
          i.fas.fa-laptop
          |  Projects
        .slides
          .fade
            h3
              a(href='https://github.com/tngo2001/cvd-training', target='_blank') AliveCor Training
            h4 Skills: Java, XML
            p
              | An ECG training application designed specifically for Indian Volunteer healthcare workers (ASHAs).
              | The application has training lessons on the basics of reading ECGs tailored specifically for ASHAs, and includes practice questions and progress updates.
              | Through user testing, the design and lessons are simple and easy to navigate, giving the app the potential to be utilized by ASHAs in the future.
            a(href='https://github.com/tngo2001/cvd-training', target='_blank')
              img.section-img(src='https://i.imgur.com/9sV5tCQ.jpg')
          .fade
            h3
              a(href='https://github.com/UWRealityLab/xrcapstone22wi-team7', target='_blank') Extreme Red Light Green Light
            h4 Skills: Unity, C#
            p
              | A more complex version of the game &quot;Red Light Green Light,&quot; a game where players race to a finish line while trying to avoid moving when the &quot;red light&quot; is called, only being able to move while the &quot;green light&quot; is called.
              | In addition to these features, this application consists of obstacles that require users to climb, row, and jump in order to advance.
            a(href='https://github.com/UWRealityLab/xrcapstone22wi-team7', target='_blank')
              img.section-img(src='https://i.imgur.com/2ktOdgN.jpg')
          .fade
            h3
              a(href='https://github.com/lets-schedule', target='_blank') Let&apos;s Schedule
            h4 Skills: React Native, TypeScript, Rails, Ruby
            p
              | A smart scheduling mobile application that helps people effectively manage their schedules.
              | It features automated task scheduling, which can generate a schedule for people based on the priorities of the given tasks and the expected time each task takes up given the user&apos;s existing schedule.
            a(href='https://github.com/lets-schedule', target='_blank')
              img.section-img(src='https://i.imgur.com/coLq9Aq.jpg')
          a.prev(onclick="moveSlide(-1, 'projects')") &#x276E;
          a.next(onclick="moveSlide(1, 'projects')") &#x276F;
        .dots
          span.dot(onclick="currentSlide(1, 'projects')")
          span.dot(onclick="currentSlide(2, 'projects')")
          span.dot(onclick="currentSlide(3, 'projects')")
      section#skills.slideshow-container
        h2
          i.fas.fa-tools
          |  Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li React.js
          li Node.js
          li Express.js
          li MongoDB
          li Git 
      section#contact.slideshow-container
        h2
          i.fas.fa-paper-plane
          |  Contact
        form#contact-form
          input(type="text" id="name" name="from_name" placeholder="Your Name" required)
          input(type="email" id="email" name="from_email" placeholder="Your Email" required)
          textarea(id="message" name="message" rows="4" placeholder="Your Message" required)
          button(type="submit") Send Message
    script(type='module', src='/main.js')